:root {
    --navy: #304F69;
    --periwinkle: #BCC4DB;
    --olive: #646536;
    --pink: #C0A9B0;
    --yellow: #EEECBD;
    --gray: #F2F2F2;
}

.App {
    width: 100vw;
    height: 100vh;
    background-color: var(--gray);
}

.nav-bar {
    height: 50px;
    background-color: var(--navy);
    display: flex;
    justify-content: space-between;
}

.nav-bar-img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 24px;
}

.nav-bar-text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav-bar-text p {
    color: var(--gray);
    font-size: 18px;
    margin-right: 24px;
}

.nav-bar-text p:hover {
    cursor: pointer;
    filter: invert(25%);
}

.info {
    position: relative;
    color: #333333;
}

.info img {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 575px;
}

.info h1 {
    z-index: 100;
    position: absolute;
    font-size: 48px;
    top: 75px;
    left: 75px;
}

.info p {
    z-index: 100;
    position: absolute;
    font-size: 28px;
    top: 140px;
    left: 75px;
    font-style: italic;
}

.home-svg {
    display: block;
    width: 80vw;
    margin: 100px auto 0;
}

.home-form-parent {
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: #E0E0E0;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-form-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-form-child input {
    width: 250px;
    height: 10px;
    border: none;
    outline: 0;
    background-color: #E0E0E0;
    border-bottom: 3px solid var(--olive);
    color: #333333;
    margin-bottom: 25px;
}

.home-form-child button, button {
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    background-color: var(--pink);
    color: var(--gray);
    text-align: center;
    display: block;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
    filter: invert(5%);
}

.home-form-child p {
    font-weight: lighter;
    text-align: center;
}

.home-form-child a {
    color: #304F69;
    font-weight: bold;
}

.home-form-child a:hover {
    cursor: pointer;
    filter: invert(25%);
}

.terms-parent {
    height: 50px;
}

.terms-child {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-bottom: 25px;
    width: 25px;
}

.terms-child input[type=checkbox] {
    display: none;
}

.terms-child label {
    height: 18px;
    width: 18px;
    background-color: #C4C4C4;
    border-radius: 50%;
    cursor: pointer;
    content: '';
}

.terms-child label::after {
    height: 18px;
    width: 18px;
    background-color: var(--olive);
    border-radius: 50%;
    cursor: pointer;
}

.terms-child input[type=checkbox]:checked ~ label {
    background-color: var(--olive);
}

.terms-child input[type=checkbox]:checked ~ label::after {
    background-color: #C4C4C4;
}

.terms-child input[type=checkbox] ~ p {
    display: none;
}

.terms-child input[type=checkbox]:checked ~ p {
    display: inline;
    position: absolute;
    top: 300px;
    left: 77px;
    color: var(--gray);
    font-weight: normal;
    font-size: 10px;
}

.header {
    padding: 1% 5% 0 5%;
    height: 209px;
}

.header img {
    position: absolute;
    margin-bottom: 0;
}

.actions {
    display: flex;
}

.whole-flex {
    flex: 1;
}

.petitions {
    position: absolute;
    margin: 5%;
    padding: 2%;
    background: var(--periwinkle);
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    min-height: 40vh;
}

.buttons {
    display: flex;
    float: right;
}

.buttons button {
    margin: 5px;
}

.terms-child span {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal {
    background-color: #F2F2F2;
    border: 1px solid #E0E0E0;
    height: 500px;
    width: 350px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal:hover {
    outline: none;
}

.modal:focus {
    outline: none;
}

.modal-form {
    background-color: #E0E0E0;
    border-radius: 25px;
    height: 450px;
    width: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-form h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 25px;
}

.modal-form p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
}

.modal-form button {
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    background-color: #C0A9B0;
    color: #F2F2F2;
    text-align: center;
    display: block;
    margin: 25px auto 0;
}

.close-button {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.close-button:hover {
    cursor: pointer;
    filter: invert(25%);
}

.category-select {
    width: 250px;
    margin: 0 auto;
    text-align: center;
    left: 25px;
    font-size: 12px;
}

.chips {
    display: flex;
    flex-wrap: wrap;
}

.chip {
    margin: 1px;
    font-size: 12px;
}

.type-select {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.confirmation {
    width: 90%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin: 25px auto 0;
}

.modal-form h3 {
    margin-left: 25px;
    margin-top: 25px;
}

.modal-form h3:hover {
    cursor: pointer;
    filter: invert(25%);
}

.modal-form input[type=text] {
    width: 250px;
    height: 10px;
    border: none;
    outline: 0;
    background-color: #E0E0E0;
    border-bottom: 3px solid var(--olive);
    color: #333333;
    margin-top: 25px;
    margin-left: 25px;
    text-align: center;
}

@media (max-width: 800px) {
    .info, .home-title {
        text-align: center;
    }
    .info h1, .home-title h1{
        position: relative;
        left: 0;
        top: 0;
        font-size: 24px;
    }
    .info p, .home-title p {
        position: relative;
        left: 0;
        top: 0;
        font-size: 14px;
    }
    .info img {
        display: none;
    }
    .home-form-parent {
        position: relative;
        margin: 0 auto;
        width: 80vw;
        height: 60vh;
    }
    .terms-child span {
        font-size: 14px;
        left: 18%;
        width: 200px;
    }
    .home-svg {
        display: none;
    }
    .header {
        padding: 5% 5% 0 5%;
        height: auto;
    }
    .header img {
        display: none;
    }
    .header-text {
        text-align: center;
    }
}

@media(min-width: 600px) and (max-width: 1000px){
    .terms-child span {
        left: 35%;
    }
}

@media(min-width: 800px) {
    .home-form-parent {
        top: 160px;
        right: 75px;
    }
    .terms-child span {
        position: absolute;
        width: 250px;
        left: 100px;
        top: 300px;
    }
    .home-title {
        display: none;
    }
    .header-text {
        display: none;
    }
}