.App {
    width: 100vw;
    height: 100vh;
    background-color: #F2F2F2;
}

.nav-bar {
    height: 50px;
    background-color: #304F69;
    display: flex;
    justify-content: space-between;
}

.nav-bar-img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 24px;
}

.nav-bar-text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav-bar-text p {
    color: #F2F2F2;
    font-size: 18px;
    margin-right: 24px;
}

.info {
    position: relative;
    color: #333333;
}

.info img {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 575px;
}

.info h1 {
    z-index: 100;
    position: absolute;
    font-size: 48px;
    top: 75px;
    left: 75px;
}

.info p {
    z-index: 100;
    position: absolute;
    font-size: 28px;
    top: 140px;
    left: 75px;
    font-style: italic;
}

.home-form-parent {
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: #E0E0E0;
    top: 75px;
    right: 75px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-form-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-form-child input {
    width: 250px;
    height: 10px;
    border: none;
    outline: 0;
    background-color: #E0E0E0;
    border-bottom: 3px solid #646536;
    color: #333333;
    margin-bottom: 25px;
}

.home-form-child button {
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    background-color: #C0A9B0;
    color: #F2F2F2;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.home-form-child p {
    font-weight: lighter;
    text-align: center;
}

.home-form-child a {
    color: #304F69;
    font-weight: bold;
}